body {
    background-color: #ddce93; 
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-3px);
}

.rating-stars {
    color: #ffc107;
    font-size: 1.2rem;
}

footer {
    margin-top: auto;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.easymde-container .EasyMDEContainer .CodeMirror {
    min-height: 300px;
}

.book-cover {
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.pagination {
    margin-bottom: 0;
}

.alert-success {
    background-color: #817449;
    border-color: #000000;
    color: white;
}

.bg-beige {
    background-color: #a38b6b;
}

.btn-beige {
    background-color: #a38b6b;
    color: #ffffff;
}

.btn-beige:hover {
    background-color: #9c8261;
    color: #ffffff;
    border-color: #000000;
}